<div class="copyright">
    <small class="copyright__text">© 2010 - 2024 OLMO. All Rights Reserved</small>
    <ul class="social__list">
        <li class="social__item">
            <a href="" class="social__icon">
                <img src="./images/sprite.svg#Facebook" class="svg-Facebook-dims" alt="Facebook">
            </a>
        </li>
        <li class="social__item">
            <a href="" class="social__icon">
                <img src="./images/sprite.svg#Instagram" class="svg-Instagram-dims" alt="Instagram">
            </a>
        </li>
        <li class="social__item">
            <a href="" class="social__icon">
                <img src="./images/sprite.svg#Twitter" class="svg-Twitter-dims" alt="Twitter">
            </a>
        </li>
        <li class="social__item">
            <a href="" class="social__icon">
                <img src="./images/sprite.svg#LinkedIn" class="svg-LinkedIn-dims" alt="LinkedIn">
            </a>
        </li>
        <li class="social__item">
            <a href="" class="social__icon">
                <img src="./images/sprite.svg#Pinterest" class="svg-Pinterest-dims" alt="Pinterest">
            </a>
        </li>
        <li class="social__item">
            <a href="" class="social__icon">
                <img src="./images/sprite.svg#YouTube" class="svg-YouTube-dims" alt="YouTube">
            </a>
        </li>
    </ul>
    <address class="contacts">
        <a href="mailto:Hello@yourapp.com" class="contacts__mail link">Hello@yourapp.com</a>
        <a href="tel:+000 000 00 00" class="contacts__tel link">+000 000 00 00</a>
    </address>
</div>
<div class="copyright__background"></div>