<ul class="footer__list-main">
    <li class="footer__item-main">
        <h6 class="footer__title">Company</h6>
        <ul class="footer__list">
            <li class="footer__item link">
                <a href="#" class="footer__link">About Us</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Careers</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Press &amp; Media</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Contact Us</a>
            </li>
        </ul>
    </li>
    <li class="footer__item-main">
        <h6 class="footer__title">Discover</h6>
        <ul class="footer__list">
            <li class="footer__item link">
                <a href="#" class="footer__link">Our Blog</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Advertising</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Plans &amp; Pricing</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Testimonials</a>
            </li>
        </ul>
    </li>
    <li class="footer__item-main">
        <h6 class="footer__title">Legal</h6>
        <ul class="footer__list">
            <li class="footer__item link">
                <a href="#" class="footer__link">Terms of Use</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Privacy Policy</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Cookie Policy</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Site Map</a>
            </li>
        </ul>
    </li>
    <li class="footer__item-main">
        <h6 class="footer__title">Support</h6>
        <ul class="footer__list">
            <li class="footer__item link">
                <a href="#" class="footer__link">FAQs</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Editor Help</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Community</a>
            </li>
            <li class="footer__item link">
                <a href="#" class="footer__link">Live Chatting</a>
            </li>
        </ul>
    </li>
</ul>