<footer class="footer" tabindex="0">
    <div class="container footer__container">
        <div class="footer__top">
            <div class="footer__logo">
                <a href="#" class="logo">
                    <img src="./images/sprite.svg#logo" class="svg-logo-dims" alt="logo">
                    <span class="logo__text">COMU</span>
                </a>
                <p class="text__description footer__description">
                    Aliquam nullam tempor sapien donec and gravida congue an ipsum porta justo velna auctor magna and laoreet augue an auctor gravida donec
                </p>
            </div>
            <!--=include ./footer_nav.html  -->
        </div>
        <div class="footer__bottom">
            <div class="shop">
                <a href="#" class="shop-inner">
                    <img src="./images/app-store.png" alt="app-store" class="store">
                </a>
                <a href="#" class="shop-inner">
                    <img src="./images/google-play.png" alt="app-store" class="store">
                </a>
            </div>
            <!--=include ./email_form.html -->
        </div>
    </div>
</footer>
<!--=include ./copyright.html -->