<header>
    <div class="footer container">
        <a href="">
            <img src="/app/images/svg/logo.svg" alt="logo comu">
            <span>COMU</span>
        </a>
        <nav>
            <ul class="header__nav">
                <li class="header__item">
                    <select name="home" id="home">Home</select>
                </li>
                <li class="header__item">
                    <select name="about" id="about">About</select>
                </li>
                <li class="header__item">
                    <select name="auth-pagea" id="auth-pagea">Auth Pagea</select>
                </li>
                <li class="header__item">
                    <select name="features" id="features">Features</select>
                </li>
                <li class="header__item">
                    <select name="pricing" id="pricing">Pricing</select>
                </li>
                <li class="header__item">
                    <a href="#" role="button">Get Started</a>
                </li>
            </ul>
        </nav>
    </div>
</header>