<header class="header">
    <div class="container header-container">
        <a href="">
            <img src="/app/images/svg/logo.svg" alt="logo comu">
            <span>COMU</span>
        </a>
        <nav>
            <ul class="header__nav">
                <li class="header__item">
                    <select name="home" id="home">
                        <option value="home">Home</option>
                    </select>
                </li>
                <li class="header__item">
                    <select name="about" id="about">
                        <option value="about">About</option>
                    </select>
                </li>
                <li class="header__item">
                    <select name="auth-pagea" id="auth-pagea">
                        <option value="auth-pagea">Auth Pagea</option>
                    </select>
                </li>
                <li class="header__item">
                    <a href="#">Features</a>
                </li>
                <li class="header__item">
                    <a href="#">Pricing</a>
                </li>
                <li class="header__item">
                    <a href="#" role="button">Get Started</a>
                </li>
            </ul>
        </nav>
    </div>
</header>