<header class="header">
    <div class="container header-container">
        <div class="header__logo">
            <a href="#" class="logo">
                <img src="./images/sprite.svg#logo" class="svg-logo-dims" alt="logo">
                <span class="logo__text">COMU</span>
            </a>
        </div>
        <button class="mobile-nav-btn">
            <div class="nav-icon"></div>
        </button>
        <nav class="header__nav mobile-nav">
            <ul class="header__list mobile-nav__list">
                <li class="header__item active">
                    <select name="home" id="home" class="header__select">
                        <option value="home" class="header__option">Home</option>
                        <option value="home" class="header__option">We are</option>
                        <option value="home" class="header__option">Quick</option>
                        <option value="home" class="header__option">Share</option>
                    </select>
                </li>
                <li class="header__item">
                    <select name="about" id="about" class="header__select">
                        <option value="about" class="header__option">About</option>
                        <option value="about" class="header__option">Album</option>
                        <option value="about" class="header__option">Works</option>
                        <option value="about" class="header__option">Staff</option>
                    </select>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link">Features</a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link">Pricing</a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link">Auth Page</a>
                </li>
                <li class="header__item">
                    <a href="#!" role="button" class="header__link btn">Get Started</a>
                </li>
            </ul>
        </nav>
    </div>
</header>