<section class="advantages">
    <div class="container advantages__container">
        <h2 class="text__center title-dark advantages_title-main">We&apos;re Better. Here&apos;s Why…</h2>
        <p class="text__center text__title-description advantages__title-description">Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis a libero tempus, blandit and cursus varius and magnis sapien</p>
        <ul class="advantages__list">
            <li class="text__description text__center block advantages__item">
                <div class="icon advantages__icon">
                    <img src="./images/sprite.svg#icon_1_55" class="svg-icon_adventages" alt="icon_1">
                </div>
                <div class="title__small advantages__title">Quick Access</div>
                <p class="advantages__description">
                    Feugiat primis ultrice a semper lacus cursus feugiat a primis ultrice a ligula risus auctor 
                </p>
            </li>
            <li class="text__description text__center block advantages__item">
                <div class="icon advantages__icon">
                    <img src="./images/sprite.svg#icon_2_55" class="svg-icon_adventages" alt="icon_2_55">
                </div>
                <div class="title__small advantages__title">Cross-Platform</div>
                <p class="advantages__description">
                    Feugiat primis ultrice a semper lacus cursus feugiat a primis ultrice a ligula risus auctor 
                </p>
            </li>
            <li class="text__description text__center block advantages__item">
                <div class="icon advantages__icon">
                    <img src="./images/sprite.svg#icon_3_55" class="svg-icon_adventages" alt="icon_3_55">
                </div>
                <div class="title__small advantages__title">Easy Integration</div>
                <p class="advantages__description">
                    Feugiat primis ultrice a semper lacus cursus feugiat a primis ultrice a ligula risus auctor 
                </p>
            </li>
            
            <li class="text__description text__center block advantages__item">
                <div class="icon advantages__icon">
                    <img src="./images/sprite.svg#icon_4" class="svg-icon_adventages" alt="icon_4">
                </div>
                <div class="title__small advantages__title">Friendly Interface</div>
                <p class="advantages__description">
                    Feugiat primis ultrice semper lacus cursus feugiat undo primis ultrice a ligula an auctor tempus magnis 
                </p>
            </li>
            <li class="text__description text__center block advantages__item">
                <div class="icon advantages__icon">
                    <img src="./images/sprite.svg#icon_5" class="svg-icon_adventages" alt="icon_1_55">
                </div>
                <div class="title__small advantages__title">Extremely Flexible</div>
                <p class="advantages__description">
                    Feugiat primis ultrice semper lacus cursus feugiat undo primis ultrice a ligula an auctor tempus magnis 
                </p>
            </li>
            <li class="text__description text__center block advantages__item">
                <div class="icon advantages__icon">
                    <img src="./images/sprite.svg#icon_6" class="svg-icon_adventages" alt="icon_1_55">
                </div>
                <div class="title__small advantages__title">Strong Encryption</div>
                <p class="advantages__description">
                    Feugiat primis ultrice a semper lacus cursus feugiat a primis ultrice a ligula risus auctor 
                </p>
            </li>
        </ul>
    </div>
</section>