<section class="advantages">
    <div class="container advantages__container">
        <ul class="advantages__list">
            <li class="text__description text__center block">
                <div class="icon advantages__icon">
                    <img src="./images/sprite.svg#icon_1_55" class="svg-icon_adventages" alt="icon_1">
                </div>
                <div class="title__small advantages__title">Quick Access</div>
                <p class="advantages__description">
                    Feugiat primis ultrice a semper lacus cursus feugiat a primis ultrice a ligula risus auctor 
                </p>
            </li>
            <li class="text__description text__center block">
                <div class="icon advantages__icon">
                    <img src="./images/sprite.svg#icon_2_55" class="svg-icon_adventages" alt="icon_2_55">
                </div>
                <div class="title__small advantages__title">Cross-Platform</div>
                <p class="advantages__description">
                    Feugiat primis ultrice a semper lacus cursus feugiat a primis ultrice a ligula risus auctor 
                </p>
            </li>
            <li class="text__description text__center block">
                <div class="icon advantages__icon">
                    <img src="./images/sprite.svg#icon_3_55" class="svg-icon_adventages" alt="icon_3_55">
                </div>
                <div class="title__small advantages__title">Easy Integration</div>
                <p class="advantages__description">
                    Feugiat primis ultrice a semper lacus cursus feugiat a primis ultrice a ligula risus auctor 
                </p>
            </li>
        </ul>
    </div>
</section>