<section class="share">
    <div class="container share__container">
        <div class="share__img">
            <img src="./images/Group1684.png" alt="girl" class="share__img-inner" loading="lazy">
        </div>
        <div class="share__info">
            <h2 class="title share__title">
                Share files, media, and locations
            </h2>
            <p class="text__description share__tetx">
                Quaerat sodales sapien euismod blandit purus a purus ipsum primis in cubilia laoreet augue luctus magna dolor luctus and egestas sapien egestas vitae nemo volute
            </p>
            <p class="text__description share__tetx">
                Quaerat sodales sapien euismod blandit purus a purus ipsum primis in cubilia laoreet augue luctus magna dolor luctus and egestas sapien egestas vitae nemo volute
            </p>
        </div>
    </div>
</section>