<section class="security"  tabindex="0">
    <div class="container security__container">
        <h2 class="text__center title-dark security_title-main">
            Security, Simplicity, Easiness
        </h2>
        <p class="text__center text__title-description security__title-description">
            Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis a libero tempus, blandit and cursus varius and magnis sapien
        </p>
        <div class="security__content">
            <div class="security__img">
                <img src="./images/Group-19.png" alt="girl" class="security__img-inner" loading="lazy">
            </div>
            <div class="security__info">
                <div class="security__pat">
                    <h4 class="title-dark security__title">
                        Share files, media, and locations
                    </h4>
                    <p class="text__description security__text">
                        Quaerat sodales sapien euismod blandit at vitae ipsum primis undo and cubilia laoreet augue and luctus magna dolor luctus at egestas sapien vitae nemo egestas volute and turpis dolores aliquam quaerat sodales a sapien                
                    </p>
                </div>
                <div class="security__pat">
                    <h4 class="title-dark security__title">
                        Advanced performance made easy
                    </h4>
                    <p class="text__description security__text">
                        Fringilla risus, luctus mauris auctor euismod an iaculis luctus magna purus pretium ligula purus and quaerat
                    </p>
                    <p class="text__description security__text">
                        Nemo ipsam egestas volute turpis dolores undo ultrice aliquam quaerat at sodales sapien purus                
                    </p>
                </div>
                <div class="shop">
                    <a href="#" class="shop-inner">
                        <img src="./images/app-store.png" alt="app-store" class="store" loading="lazy">
                    </a>
                    <a href="#" class="shop-inner">
                        <img src="./images/google-play.png" alt="app-store" class="store" loading="lazy">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>