<section class="send">
    <div class="container send__container block_big">
        <div class="send__info">
            <ul class="send__list">
                <li class="send__item">
                    <h4 class="send__title">Text, Voice &amp; Video Calls</h4>
                    <p class="text__description send__text">
                        Ligula risus auctor tempus dolor feugiat undo lacinia purus lipsum quaerat primis ultrice tellus and viverra purus suscipit
                    </p>
                </li>
                <li class="send__item">
                    <h4 class="send__title">Stickers, Emojis, Themes</h4>
                    <p class="text__description send__text">
                        Ligula risus auctor tempus dolor feugiat undo lacinia purus lipsum quaerat primis ultrice tellus and viverra purus suscipit
                    </p>
                </li>
                <li class="send__item">
                    <h4 class="send__title">Spam Protection</h4>
                    <p class="text__description send__text">
                        Ligula risus auctor tempus dolor feugiat undo lacinia purus lipsum quaerat primis ultrice tellus and viverra purus suscipit
                    </p>
                </li>
            </ul>
        </div>
        <div class="send__img">
            <img src="./images/Group1565.png" alt="girl" class="send__img-inner">
        </div>
    </div>
</section>