@import "./block/normalize.css";
@import "./block/bootstrap.css";
@import "./text.css";
@import "./block/base.css";
@import "./block/buttons.css";
@import "./block/sprite.css";
@import "./block/two_blocks.css";
@import "./block/two_blocks_with_list.css";

:root {
    --main_color: rgba(254, 156, 105, 1);
    --text_dark-color: rgba(0, 0, 0, 1);
    --text_light-color: rgba(69, 90, 100, 1);
    --text-description_light-color: rgba(83, 83, 89, 1);
    --text-description_dark-color: rgba(57, 57, 57, 1);
    --text-list-title_color: rgba(55, 71, 79, 1);
    --text-placeholder_color: rgba(143, 143, 143, 1);
    --text-logo_color: rgba(50, 50, 50, 1);
    --btn-dark_background-color: rgba(69, 90, 100, 1);
    --btn-fill_text-color: rgba(243, 252, 255, 1);
    --btn_text-color: rgba(0, 0, 0, 1);
    --btn_background-color: rgba(254, 156, 105, 1);
    --btn_border-radius: 8px;
    --blocks_background-color: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%);
    --blocks_box-shadow: 5.539px 5.539px 28.802px 0px #DD8762;
    --blocks_small-shadow: 5px 5px 13px 0px #DD8762;
    --blocks_border-radius: 44px;
    --blocks-long_border-radius: 13px;
    --blocks-store_border-radius: 6px;
    --blocks-store_box-shadow: 0px 2px 2px 0px rgba(131, 131, 131, 0.47);
    --shop_border-radius: 4px;

    /* Burger menu */
    --time: 0.1s;
    --width: 40px;
    --height: 30px;
    --line-height: 4px;
    --spacing: 6px;
    --color: black;
    --radius: 4px;
}

body {
    position: relative;
    background-color: transparent;
}

.container {
    margin-bottom: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.store {
    width: 131px;
    height: 45px;
    border-radius: var(--shop_border-radius);
}

.block_big,
.block {
    background: var(--blocks_background-color);
    box-shadow: var(--blocks_small-shadow);
    border-radius: var(--blocks_border-radius);
}

.block_big {
    box-shadow: var(--blocks_box-shadow);
}

.icon {
    background-color: var(--main_color);
    border-radius: 12px;
    width: 67px;
    height: 67px;
    text-align: center;
}

.shop {
    display: flex;
    align-items: center;
}

.shop-inner {
    margin-right: 13px;
    transform: translateY(3px);
}

.decor {
    position: absolute;
    width: 100%;
    height: 716px;
    background: linear-gradient(178deg, #FFFBF0 4.22%, #F7E6CC 98.53%);
    filter: drop-shadow(0px 5px 26px #DD8762);
    z-index: -1;
    border-radius: 0px 0px 750px 750px / 0px 0px 90px 90px;
}

.delimiter::after {
    content: 'l';
    position: absolute;
    color: var(--main_color);
    right: -10px;
}

/* Header */
.header-container {
    margin-bottom: 0;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}

.header__select,
.header__item {
    font-family: 'Poppins-Bold', sans-serif;
    line-height: 1;
    font-size: 14px;
}

.header__select {
    border: none transparent;
    background: transparent;
}

/* Hero */
.hero__container {
    max-height: 623px;
    display: flex;
    padding: 83px 119px 66px 96px;
    background-image: url('../images/world-background.png');
}

.hero__container > * {
    flex: 1 1 50%;
}

.hero__info {
    margin-top: auto;
    margin-bottom: auto;
}

.hero__learn,
.hero__play,
.hero__offers {
    display: flex;
    align-items: center;
}

.hero__learn {
    margin-bottom: 16px;
}

.hero__text {
    max-width: 449px;
    margin-bottom: 26px;
}

.hero__btn {
    margin-right: 10px;
    background-color: var(--btn-dark_background-color);
    padding: 9px 25px;
}

.btn__subscribe {
    color: var(--text_light-color);
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 14px;
    line-height: 146.687%; /* 20.725px */
}

.svg-LearnMoreicon-dims {
    margin-right: 8px;
    vertical-align: middle;
}

.hero__offers {
    color: var(--text_light-color);
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 12;
    line-height: 187%; /* 23.399px */
}

.hero__offers-inner:first-child {
    margin-right: 14px;
    position: relative;
}

.action__offers-inner {
    position: relative;
    font-family: 'Roboto-Bold';
    font-size: 14px;
    line-height: 146.687%;
}

.hero__img-inner {
    max-width: 434px;
}

/* Advantages */
.advantages__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages__item {
    margin-bottom: 0;
    padding: 43px 37px 40px;
    max-width: 363px;
    margin-bottom: 62px;
    align-self: stretch;
}

.advantages__title {
    margin-bottom: 10px;
}

.advantages__icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.advantages__title-description {
    max-width: 601px;
    margin-bottom: 74px;
}

/* Security */
.security__container {
    padding-left: 69px;
    padding-right: 69px;
}

.security__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.security__info,
.security__img {
    flex: 1 1 45%;
}

.security__img-inner {
    max-width: 501px;
}

.title-dark {
    color: var(--text_dark-color);
    font-family: 'Poppins-Bold', sans-serif;
}

.security__title {
    font-size: 19px !important;
    margin-bottom: 15px;;
    line-height: 148%; /* 29.203px */
    letter-spacing: 0.5px;
}

.security__title-description {
    margin-bottom: 100px;
}

.security__text {
    margin-bottom: 15px;
}

.security__info > .shop {
    margin-top: 44px;
}

/* Work */
.work__container {
    padding: 116px 69px 146px;
    display: flex;
    align-items: center;
}

.work__info,
.work__img {
    flex: 1 1 49%;
}

.work__img-inner {
    max-width: 520px;
}

.work__text {
    margin-top: 0;
    margin-bottom: 34px;
}

.work__item {
    max-width: 300px;
    height: 73px;
    margin-top: 23px;
    margin-bottom: 23px;
    padding: 12px 75px 17px 66px;
    position: relative;
    text-wrap: nowrap;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.09);
}

.work__item::before,
.work__item:last-child::before {
    content: '';
    background: url('../../images/sprite.svg#icon_7') no-repeat;
    background-position: center;
    background-size: 27px 27px;
    width: 33px;
    height: 33px;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--main_color);
    position: absolute;
    left: 16px;
    top: 20px;
}

.work__item:last-child::before {
    background-image: url('../../images/sprite.svg#icon_8');
}

.work__text,
.work__title {
    color: var(--text_light-color);
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 15px;
    line-height: 153%; /* 24.09px */
}

.work__title-description {
    color: var(--text_light-color);
}

/* Commands */
.commands__container {
    padding: 0 69px;
    display: flex;
    align-items: center;
}

.commands__info,
.commands__img {
    flex: 1 1 49%;
}

.commands__info {
    padding-left: 114px;
}

.commands__img-inner {
    max-width: 544px;
}

.commands__title-main {
    margin-bottom: 15px;
}

.commands__title-description {
    margin-bottom: 10px;
}

.commands__text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-description_dark-color);
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 15px;
    line-height: 153%; /* 24.09px */
}

.commands__buttons {
    margin-top: 36px;
    font-family: 'Roboto-Bold', sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-fill.commands__btn {
    display: inline-block;
    padding: 9px 27px 10px;
    height: 40px;
}
.btn.commands__btn {
    display: inline-block;
    padding-right: 34px;
    padding-left: 35px;
    height: 40px;
}

/* Keep */
.keep__container {
    padding: 116px 69px 146px;
    display: flex;
    align-items: center;
}

.keep__info,
.keep__img {
    flex: 1 1 49%;
}

.keep__img-inner {
    max-width: 520px;
}

.keep__text,
.keep__title-description {
    width: 449px;
    margin-left: 0;
    margin-bottom: 13px;
    color: var(--text-description_light-color);
}

.keep__text {
    max-width: 449px;
    margin-top: 0;
    margin-bottom: 34px;
}

.keep__text,
.keep__title {
    color: var(--text-description_light-color);
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 15px;
    line-height: 153%; /* 24.09px */
}

/* Action */
.action__container {
    padding-left: 69px;
    padding-right: 69px;
}

.action__img-inner {
    width: 100%;
    margin-bottom: 35px;
    position: relative;
}

.action__title-description {
    margin-bottom: 62px;
}

.action__offers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.action__info {
    position: relative;
}

.action__btn {
    padding: 9px 32px;
    font-family: 'Roboto-Bold', sans-serif;
}

.action__learn {
    position: absolute;
    top: -55px;
    left: 0;
    right: 0;
} 

/* Customers */
.customers__container {
    padding: 38px ;
}

.customers__img {
    max-width: 747px;
    margin-left: auto;
    margin-right: auto;
}

.customers__title-description {
    margin-bottom: 62px;
    color: var(--text_light-color);
}

.customers__offers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/* User data */
.userdata__container {
    padding-right: 69px;
    padding-left: 69px;
    display: flex;
    align-items: center;
}

.userdata__info,
.userdata__img {
    flex: 1 1 49%;
}

.userdata__img-inner {
    max-width: 520px;
}

.userdata__text {
    max-width: 426px;
    margin-top: 0;
    margin-bottom: 18px;
    padding-right: 40px;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 16.67px;
    color: var(--text-description_dark-color);
}

/* Features */
.features__container {
    padding: 0;
}

.features_title-main {
    width: 641px;
    margin-left: auto;
    margin-right: auto;
}

.features__img {
    max-width: 521px;
    margin-left: auto;
    margin-right: auto;
}

.features__title-description {
    margin-bottom: 62px;
}

.features__info {
    padding: 63px 156px 66px 155px;
    box-shadow: 15px 15px 26px 0px #DD8762;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    color: var(--text_dark-color);
    font-family: 'Poppins-SemiBold', sans-serif;
    line-height: normal;
}

.features__description {
    max-width: 465px;
    flex-shrink: 0;
    font-size: 29px;
    letter-spacing: 0.3px;
}

.features__download {
    min-width: 160px;
}

.features__text-counter {
    margin-bottom: 10px;
    font-size: 54px;
    letter-spacing: 0.5px;
    line-height: 1;
}

.features__text-small {
    font-size: 14.6px;
    letter-spacing: 0.15px;
}

/* Questions */
.questions__container {
    padding: 0 141px;
}

.questions__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 18px 60px;
}

.questions__title-description {
    margin-bottom: 44px;
}

.questions_item {
    flex: 1 1 40%;
}

.questions_item:not(:nth-child(2n)) {
    margin-right: 37px;
    margin-bottom: 18px;
}

.questions__title-small {
    color: var(--text_dark-color);
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 18px;
    line-height: 148.2%; /* 26.641px */
}

.questions__description {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-description_dark-color);
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 16.67px;
    line-height: 126%; /* 21.004px */
    letter-spacing: 0.5px;
}

.questions__form {
    font-size: 0;
    text-align: center;
    max-width: 1041px;
    text-wrap: nowrap;
    transform: translateX(-91px);
}

.questions__input {
    height: 62px;
    width: 100%;
    padding: 13px 17px;
    border-radius: 16px 0 0 16px;
    border: 0.331px solid var(--social_background-color);
}

.questions__input::placeholder {
    color: var(--text-placeholder_color);
}

.questions__btn {
    height: 62px;
    width: 210px;
    border-radius: 0 16px 16px 0;
    padding: 11px 40px;
    font-size: 21px;
    font-family: 'Poppins-Regular', sans-serif;
    transform: translateY(7px);
}

/* Unlimited */
.unlimited__container {
    padding: 74px 77px 59px 111px;
    display: flex;
    align-items: center;
}

.unlimited__info,
.unlimited__img {
    flex: 1 1 49%;
}

.unlimited__img-inner {
    max-width: 430px;
}

.unlimited__text {
    margin-top: 0;
    margin-bottom: 18px;
    padding-right: 40px;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 16.67px;
    color: var(--text_light-color);
}

.unlimited__buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto-Bold', sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text_light-color);
}

.btn-fill.unlimited__btn {
    display: inline-block;
    padding: 9px 27px 10px;
    height: 40px;
}
.btn.unlimited__btn {
    display: inline-block;
    padding-right: 34px;
    padding-left: 35px;
    height: 40px;
}

.unlimited__offers {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    color: var(--text_light-color);
}

.unlimited__offers-inner {
    position: relative;
    font-family: 'Roboto-Bold';
    font-size: 14px;
    line-height: 146.7%;
}


/* Footer */
.footer__container {
    padding-left: 160px;
    padding-right: 151px;
}

.footer__top {
    display: flex;
}

.footer__logo {
    max-width: 383px;
    padding-right: 25px;
    display: inline-block;
}

.footer__logo > a {
    margin-bottom: 10px;
}

.footer__description {
    width: 300px;
    padding-right: 30px;
    margin-bottom: 17px;
    line-height: 153%;
}   

.footer__list-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.footer__title {
    margin-bottom: 14px;
    font-family: 'Poppins-Bold', sans-serif;
    line-height: 153.2%;
    font-size: 14px;
}

.footer__item {
    margin-bottom: 7px;
    color: var(--text-description_dark-color);
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 14;
    line-height: 153%; /* 21.752px */
}

.footer__bottom {
    margin-bottom: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    width: 100%;
    height: 66px;
    padding: 19px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__list {
    display: flex;
    gap: 9px;
}

.copyright__background {
    width: 100%;
    height: 66px;
    background: var(--blocks_background-color);
    position: absolute;
    left:0;
    bottom: 0;
    z-index: -1;
}

.contacts {
    margin-bottom: 0;
}

.contacts__tel,
.contacts__mail {
    margin-left: 36px;
    position: relative;
}

.contacts__mail::before,
.contacts__tel::before {
    content: url('../images/sprite.svg#phone-fill');
    position: absolute;
    background-size: cover;
    top: 2px;
    bottom: 0;
    left: -29px;
    width: 18px;
    height: 18px;
}

.contacts__mail::before {
    content: url('../images/sprite.svg#mail-fill');
}

.footer__form {
    font-size: 0;
    text-wrap: nowrap;
}

.footer__input {
    height: 41px;
    width: 443px;
    padding: 13px 17px;
    border-radius: 8px 0 0 8px;
    border: 0.331px solid var(--social_background-color);
}

.footer__input::placeholder {
    color: var(--text-placeholder_color);
}

.footer__btn {
    height: 41px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 11px 40px;
    color: var(--btn-fill_text-color);
}

.mail__btn {
    height: 41px;
    /* width: 210px; */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 11px 40px;
    font-size: 21px;
    font-family: 'Poppins-Bold', sans-serif;
    transform: translateY(4px);
    font-size: 14px;
    line-height: 1;
}



/* Nac Icon */

.mobile-nav-btn {
    /* Fixed height and width */
    /* height: var(--height); */
    /* width: var(--width); */
    
    /* Dynamic height and width */
    height: calc(var(--line-height) * 3 + var(--spacing) * 2);
    width: var(--width);

    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.nav-icon {
    position: relative;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--text_light-color);
    border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
    content: '';
    display: block;

    position: absolute;
    left: 0;

    width: var(--width);
    height: var(--line-height);

    border-radius: var(--radius);
    background-color: var(--text_light-color);
    transition: transform var(--time) ease-in,
        top var(--time) linear var(--time);
}

.nav-icon::before {
    top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
    top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
    background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
    top: 0;
    transition: top var(--time) linear,
        transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
	transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
	transform: rotate(-45deg);
}

.mobile-nav-btn {
	z-index: 999;
	/* display: none; */
}

.no-scroll {
    overflow-y: hidden;
}

@media (max-width: 720px) {
    .mobile-nav-btn {
        display: flex;
    }

    .mobile-nav {
        padding-top: 40px;
        padding-bottom: 40px;
        position: fixed;
        top: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        z-index: 99;
    
        display: block;
        text-align: left;
    
        background-color: var(--main_color);
        transition: all 0.2s ease-in;
    }
    
    .mobile-nav--open {
        top: 0;
    }
    
    .mobile-nav a {
        color: var(--btn-fill_text-color);
    }
    
    .mobile-nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
       /*  justify-content: flex-start; */
        row-gap: 20px;
        font-size: 28px;
    }

    .header__item {
        text-align: left;
    }
    
    /* .mobile-nav__list .active:hover {
        opacity: 0.5;
    } */
}