/* Import fonts */

@font-face {
    font-family: 'IstokWeb-Bold';
    src: url('../fonts/IstokWeb-Bold.woff2') format('woff2'), url('../fonts/IstokWeb-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'), url('../fonts/Poppins-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

/* All text styles */

:root {
    --text_dark-color: rgba(0, 0, 0, 1);
    --text_light-color: rgba(69, 90, 100, 1);
    --text-description_light-color: rgba(83, 83, 89, 1);
    --text-description_dark-color: rgba(57, 57, 57, 1);
    --text-list-title_color: rgba(55, 71, 79, 1);
    --text-placeholder_color: rgba(143, 143, 143, 1);
    --text-logo_color: rgba(50, 50, 50, 1);
}

.text__center {
    text-align: center;
}

.logo__text {
    font-family: 'IstokWeb-Bold', sans-serif;
    color: var(--text-logo_color);
    font-size: 28px;
}

.title-dark,
.title {
    margin-bottom: 17px;
    color: var(--text_light-color);
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 42px;
    line-height: 126%;    
}

/* @media (max-width: 800px) {
    .title-dark,
    .title {
        margin-bottom: 12px;
        color: var(--text_light-color);
        font-family: 'Poppins-Bold', sans-serif;
        font-size: 32px;
        line-height: 100%;  
    }
} */

.title-dark {
    color: var(--text_dark-color);
}

.text__description {
    color: var(--text-description_light-color);
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 16px;
    line-height: 147%; /* 24.446px */
    letter-spacing: 0.5px;
}

.text__title-description {
    max-width: 601px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-description_dark-color);
    font-family: 'Roboto-Medium',sans-serif;
    font-size: 16.6px;
    line-height: 148%; /* 24.705px */
    letter-spacing: 0.5px;
}

.title__small { 
    color: var(--text-list-title_color);
    font-family: 'Roboto-Bold';
    font-size: 17.8px;
    line-height: 146.6%; /* 26.204px */
}

