
/* All blocks styles */

:root {
    --blocks_background-color: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%);
    --blocks_box-shadow: 5.539px 5.539px 28.802px 0px #DD8762;
    --blocks_border-radius: 44px;
    --blocks-long_border-radius: 13px;
    --blocks-store_border-radius: 6px;
    --blocks-store_box-shadow: 0px 2px 2px 0px rgba(131, 131, 131, 0.47);
}