
/* All text styles */

:root {
    --social_background-color: rgba(254, 156, 105, 1);
    --social_border-bradius: 50%;
}

.svg-Facebook-dims { width: 28px; height: 28px; }
.svg-Instagram-dims { width: 28px; height: 28px; }
.svg-LearnMoreicon-dims { width: 21px; height: 26px; }
.svg-LinkedIn-dims { width: 28px; height: 28px; }
.svg-Pinterest-dims { width: 28px; height: 28px;}
.svg-Star-dims { width: 16px; height: 15px; }
.svg-Twitter-dims { width: 28px; height: 28px; }
.svg-YouTube-dims { width: 28px; height: 28px; }
.svg-icon_adventages { width: 48px; height: 38px; transform: translateY(38%);}
.svg-logo-dims { width: 28px; height: 26px; }
.svg-select-dims { width: 6px; height: 5px; }


.social__icon > picture {
    width: 28px; height: 28px;
}