
/* All text styles */

:root {
    --text_dark-color: rgba(0, 0, 0, 1);
    --text_light-color: rgba(69, 90, 100, 1);
    --text-description_light-color: rgba(83, 83, 89, 1);
    --text-description_dark-color: rgba(57, 57, 57, 1);
    --text-list-title_color: rgba(55, 71, 79, 1);
    --text-placeholder_color: rgba(143, 143, 143, 1);
    --text-logo_color: rgba(50, 50, 50, 1);
}