
/* Two blocks styles */

.send__container {
    padding: 135px 138px;
    display: flex;
    align-items: center;
}

.send__info,
.send__img {
    flex: 1 1 49%;
}

.send__img-inner {
    max-width: 530px;
}

.send__item {
    margin-bottom: 18px;
}

.send__title {
    position: relative;
}

.send__title::before,
.send__title--stickers::before,
.send__title--spam::before {
    content: '';
    background: url('../../images/sprite.svg#icon_4') no-repeat;
    background-position: center;
    background-size: 46px 46px;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--main_color);
    position: absolute;
    left: -70px;
}

.send__title--stickers::before {
    background-image: url('../../images/sprite.svg#icon_5');
}

.end__title--spam::before {
    background-image: url('../../images/sprite.svg#icon_6');
}

.send__title {
    margin-bottom: 6px;
    color: var(--text-list-title_color);
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 17px;
    line-height: 148.2%; /* 25.726px */
}

.send__text {
    max-width: 320px;
    margin-top: 0;
    margin-bottom: 34px;
}
