html {
    scroll-behavior: smooth;
}

body {
    /* outline: 2px solid red; */
    max-width: 1460px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--page-bg);
    color: var(--text-color);
    font-family: var(--font-main);
}