// There are place for your vars

:root {
    --container-width: 1200px;
    --container-padding: 15px;

    --font-main: 'Poppins', sans-serif;
    --font-accent: 'Playfair Display', serif;

    --page-bg: white;
    --text-color: black;
    --accent: #ac182c;

    --laptop-size: 1199px;
    --table-size: 959px;
    --mobile-size: 599px;
}

.dark {
    --page-bg: black;
    --text-color: white;
}